<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza Planet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la-mia-pizzeria-static.styles.css" />
</head>
<body>
    <header class="bg-dark py-3 border-bottom border-danger">
        <partial name="_HeaderMainLayout"/>
    </header>
    <div >
        <main role="main" class="py-3 bg-dark">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top border-danger  footer bg-dark">
             <partial name="_FooterMainLayout"/>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
